[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/msdfatlasgen"]
	path = thirdparty/msdfatlasgen
	url = https://github.com/evangelionxyz/msdf-atlas-gen.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "thirdparty/sdl3"]
	path = thirdparty/sdl3
	url = https://github.com/libsdl-org/SDL.git
